.app__home {
    margin-top: 3rem;
    padding: 2rem 0 0 0;

    .app__home-head {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;

        .app__home-logo {
            text-decoration: none;
            font-size: 2.5rem;
            font-weight: 400;
            color: var(--bg-black);
            padding: 1rem;

            span {
                font-size: 1rem;
            }

            @media screen and (max-width:640px) {
                display: none;
            }

            @media screen and (max-width:1024px) {
                font-size: 1.5rem;
            }
        }

        .app__home-text {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 400;
            color: var(--bg-black);
            padding: 1rem;

            @media screen and (max-width:640px) {
                margin-left: 0;
            }

            @media screen and (min-width:640px) {
                margin-left: 35%;;
            }
            @media screen and (min-width:1024px) {
                margin-left: 0;
            }
        }

        @media screen and (max-width:1024px) {
            flex-direction: row;
        }

    }

    .app__homenavbar-section {
        background-color: #ebeade;

        .app__homenavbar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                list-style: none;
                display: flex;
                gap: 1rem;

                li {
                    .app__homenavbar-link {
                        text-decoration: none;
                        color: var(--bg-black);

                        &:after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 1px;
                            background: var(--bg-black);
                            transition: width .4s ease-in;
                        }

                        &:hover::after {
                            width: 100%;
                        }

                        @media screen and (max-width:640px) {
                            font-size: 0.8rem;
                        }
                    }

                    .active:after {
                        width: 100%;
                    }
                }
            }

            .app__homenavbar-filter-xl {
                border-style: none;
                padding: 1rem 1.5rem;
                border: 1px solid rgba(51, 51, 51, .2);
                color: var(--bg-black);
                font-size: 0.9rem;
                font-weight: 500;
                background-color: transparent;
                display: flex;
                align-items: center;
                gap: 1rem;
                cursor: pointer;

                @media screen and (max-width:1024px) {
                    display: none;
                }
            }
        }

        .app__homenavbar-checkbox-xl {
            width: 20%;
            list-style: none;
            padding: 1rem 3rem;

            li {
                margin: 0.75rem 0;
            }

            @media screen and (max-width:1024px) {
                display: none;
            }
        }
    }

    .app__homenavbar-lg {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem;
        background-color: var(--bg-gray-light);

        .app__homenavbar-filter-lg {
            margin-left: auto;
            border-style: none;
            padding: 1rem 1.5rem;
            border: 1px solid rgba(51, 51, 51, .2);
            color: var(--bg-black);
            font-size: 0.9rem;
            font-weight: 500;
            background-color: transparent;
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;

            @media screen and (min-width:1024px) {
                display: none;
            }

            @media screen and (max-width:640px) {
                width: 100%;
            }
        }

        .app__homenavbar-checkbox-lg {
            width: 20%;
            list-style: none;
            padding: 1rem 2rem;

            li {
                margin: 0.75rem 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5rem;
            }

            @media screen and (min-width:1024px) {
                display: none;
            }
        }

        @media screen and (max-width:640px) {
            flex-direction: column;

            .app__homenavbar-filter-lg {
                order: 1;
            }

            .app__homenavbar-checkbox-lg {
                order: 2;
            }
        }

        @media screen and (min-width:1024px) {
            display: none;
        }
    }

    main {
        background-color: var(--bg-gray-light);
        display: flex;
        flex-flow: row wrap;

        .app__home-about {
            flex: 33.33%;
            padding: 3rem;

            .app__home-headline {
                font-family: Zapf Humanist, serif;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4;
                margin-bottom: 1.25rem;
                margin-top: 5rem;
                color: var(--bg-black);
            }

            .app__home-info {
                font-weight: 400;
            }
            @media screen and (max-width:640px) {
                padding: 1rem;
            }
        }

        .app__home-products {
            flex: 33.33%;
            max-width: 640px;
            background-color: transparent;
            transition: all 0.3s ease-in;

            .app__home-product {
                padding: 10rem 1rem 1rem 1rem;
                display: flex;
                flex-direction: column;

                img {
                    align-self: center;
                    width: 330px;
                    height: 320px;
                }

                .app__home-product-heading,
                .app__home-product-para {
                    align-self: center;
                }

                .app__home-product-para {
                    margin-bottom: 2rem;
                }

                .app__home-product-desc-title,
                .app__home-product-desc {
                    margin: 1rem 0;
                }

                span {
                    color: var(--bg-black);
                    font-size: 1rem;
                    font-weight: 600;
                    margin-right: 1rem;
                }

                @media screen and (max-width:640px) {
                    padding: 5rem 1rem 1rem 1rem;
                }
            }

            button {
                text-align: center;
                width: 100%;
                border-style: none;
                padding: 1rem 0;
                color: transparent;
                background-color: transparent;
                transition: all 0.3s ease-in;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(235, 234, 222, 0.6);

                button {
                    color: var(--text-white);
                    background-color: var(--bg-black);
                }
            }
        }
    }
    @media screen and (max-width:640px) {
        margin-top: 1rem;
        padding: 0;
    }
}